.spigot-post-list {
    display: flex;
    flex-flow: row wrap;
    
}

.spigot-post-list__card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(53, 69, 88, 0.2);
    padding: 20px;
    padding-bottom: 30px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    flex: 0 1 100%;
}

.spigot-post-list__card img {
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
    max-width: calc(100% + (20px * 2.2));
}

.spigot-post-list__card .entry__summary p:last-child {
    margin-bottom: 0;
}

.spigot-post-list__card .entry__footer {
    position: absolute;
    bottom: 0;
    margin-left: -20px;
    padding: 12px 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
}

.spigot-post-list__card .entry__summary {
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 14px;
}

.spigot-post-list__card .entry__title h2 {
    font-size: 20px;
}

.spigot-post-list__card .entry__footer svg {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .spigot-post-list__card {
        -ms-flex-preferred-size: calc(50% - 24px);
        flex-basis: calc(50% - 24px);
        width: calc(50% - 24px);
    }
}

@media (min-width: 1200px) {
    .spigot-post-list__card {
        -ms-flex-preferred-size: calc(33.33333% - 24px);
        flex-basis: calc(33.33333% - 24px);
        width: calc(33.33333% - 24px);
    }
}